openapi: 3.1.0
info:
  title: Ctrl Hub
  version: 3.0.0
servers:
  - url: https://api.ctrl-hub.com
security:
  - bearerAuth: []
paths:
  "/v3/orgs":
    get:
      description: Returns all organisations that the caller has access to
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/organisationModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Use this endpoint to create a new organisation. The owner of the organisation will be the caller who is making the API call.
      requestBody:
        $ref: "#/components/requestBodies/organisationCreate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}":
    get:
      description: Returns an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    put:
      description: Use this endpoint to update an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        $ref: "#/components/requestBodies/organisationUpdate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms":
    get:
      description: Returns all forms for an organisation that the caller has access to
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureForm"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms/stats":
    get:
      description: Return submission statistics for this form over a given time period
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/timeCreatedAtSince"
        - $ref: "#/components/parameters/timeCreatedAtUntil"
        - $ref: "#/components/parameters/timeCreatedAtGranularity"
        - $ref: "#/components/parameters/authorID"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dayStat"
                  meta:
                    type: object
                    properties:
                      headlines:
                        type: object
                        properties:
                          slices:
                            type: object
                            properties:
                              granularity:
                                type: string
                                example: day
                              count:
                                type: number
                                format: integer
                                example: 14
                          avg:
                            type: object
                            properties:
                              value:
                                type: number
                                format: double
                                example: 17.5
                          sum:
                            type: object
                            properties:
                              value:
                                type: integer
                                example: 245
  "/v3/orgs/{orgId}/data-capture/form-categories":
    get:
      description: Returns all form categories for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureFormCategory"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/operations/reinstatements":
    get:
      description: Returns all reinstatements for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/reinstatementModel"
                  meta:
                    $ref: "#/components/schemas/meta"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Create a reinstatement for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  "$ref": "#/components/schemas/reinstatementModel"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/reinstatementModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/operations/reinstatements/{id}":
    get:
      description: Returns a specific reinstatements for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/reinstatementModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/properties/{uprn}":
    get:
      description: Find a property by UPRN
      parameters:
        - $ref: "#/components/parameters/uprn"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/propertyModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/properties":
    get:
      description: Finds properties
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/boundedBoxBottomLeft"
        - $ref: "#/components/parameters/boundedBoxTopRight"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/propertyModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers":
    get:
      description: Returns all manufacturers
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/manufacturerModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers/{manufacturerId}":
    get:
      description: Returns a manufacturer
      parameters:
        - $ref: "#/components/parameters/manufacturerId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/manufacturerModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers/{manufacturerId}/relationships/models":
    get:
      description: Returns all models for a specific manufacturer
      parameters:
        - $ref: "#/components/parameters/manufacturerId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/modelModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/models":
    get:
      description: Returns all models
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/modelModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes":
    get:
      description: Returns all schemes
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/schemeModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}":
    get:
      description: Returns a scheme
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/schemeModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders":
    get:
      description: Returns a schemes work orders
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/workOrderModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}":
    get:
      description: Returns a scheme
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/workOrderModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/operations":
    get:
      description: Returns a work orders operations
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/operationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/operations/{operationId}":
    get:
      description: Returns an operation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
        - $ref: "#/components/parameters/operationId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/operationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
components:
  responses:
    notfound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "404"
                    message:
                      type: string
                      example: "You are trying to access a resource that does not exist."
    throttled:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "429"
                    message:
                      type: string
                      example: "You have made too many requests and have been throttled."
  parameters:
    authorID:
      name: filter[author.id]
      in: query
      description: The author of the submissions to return
      schema:
        type: string
        format: uuid
        example: f078b255-7ff4-4425-8322-8e57e4aa772d
      required: false
    boundedBoxBottomLeft:
      name: filter[location.box.bottom_left]
      in: query
      description: The bottom left corner of bounding box to filter by
      schema:
        type: string
        example: "51.5074,0.1278"
      required: false
    boundedBoxTopRight:
      name: filter[location.box.top_right]
      in: query
      description: The top right corner of bounding box to filter by
      schema:
        type: string
        example: "51.6123,0.378"
      required: false
    timeCreatedAtSince:
      name: filter[created_at.since]
      in: query
      description: The start time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-05-01T00:00:00Z"
      required: true
    timeCreatedAtUntil:
      name: filter[created_at.until]
      in: query
      description: The end time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-07-01T00:00:00Z"
      required: true
    timeCreatedAtGranularity:
      name: filter[created_at.granularity]
      in: query
      description: The granularity of the time buckets that we place the number of submissions into
      schema:
        type: string
        example: "day"
        enum:
          - year
          - month
          - day
          - hour
          - minute
      required: false
    orgId:
      name: orgId
      in: path
      description: The ID of the organisation
      schema:
        type: string
        example: ctrl-hub
      required: true
    uprn:
      name: uprn
      in: path
      description: The UPRN of the property
      schema:
        type: number
        example: 10022999531
      required: true
    manufacturerId:
      name: manufacturerId
      in: path
      description: The ID of the manufacturer
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    schemeId:
      name: schemeId
      in: path
      description: The ID of the scheme
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    workOrderId:
      name: workOrderId
      in: path
      description: The ID of the work order
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    operationId:
      name: operationId
      in: path
      description: The ID of the operation
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    limit:
      name: limit
      in: query
      description: Limit the number of resources returned by the API
      schema:
        type: integer
        default: 10
      required: false
    offset:
      name: offset
      in: query
      description: Offset for resources returned by the API
      schema:
        type: integer
        default: 0
      required: false
    sort:
      name: sort
      in: query
      description: A field in the resource to sort results with. Not all attributes are supported, please see the Object Model for **sortable** fields.
      schema:
        type: string
        default: created_at
      required: false
  requestBodies:
    organisationCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                required:
                  - type
    organisationUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    workOrderCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: work_orders
                    description: The type of resource
                    enum:
                      - work_orders
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The work order name
                      description:
                        type: string
                        description: A description for the work order
                    required:
                      - name
                required:
                  - type
    workOrderUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: work_orders
                    description: The type of resource
                    enum:
                      - work_orders
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The work order name
                      description:
                        type: string
                        description: A description for the work order
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    schemeCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: schemes
                    description: The type of resource
                    enum:
                      - schemes
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The scheme name
                      description:
                        type: string
                        description: A description for the scheme
                    required:
                      - name
                required:
                  - type
    schemeUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: schemes
                    description: The type of resource
                    enum:
                      - schemes
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The scheme name
                      description:
                        type: string
                        description: A description for the scheme
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    operationCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: operations
                    description: The type of resource
                    enum:
                      - operations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The operation name
                      description:
                        type: string
                        description: A description for the operation
                    required:
                      - name
                required:
                  - type
    operationUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: operations
                    description: The type of resource
                    enum:
                      - operations
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The operation name
                      description:
                        type: string
                        description: A description for the operation
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
  schemas:
    organisationModel:
      type: object
      properties:
        type:
          type: string
          example: organisations
          description: The type of resource
          enum:
            - organisations
        id:
          type: string
          format: uuid
          description: The organisation ID
          example: 7e0c875a-fd47-401d-bd25-4278ed58d721
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Ctrl Hub
              description: "**Sortable**. The organisation name."
            slug:
              type: string
              example: ctrl-hub
              description: "**Sortable**. The organisation slug, which is used in requests for subresources."
            description:
              type: string
              example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
              description: A description for the organisation
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the organisation was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            status:
              type: string
              example: active
              enum:
                - active
                - suspended
              description: "**Sortable**. The current status of the organisation"
            counts:
              type: object
              properties:
                members:
                  type: integer
                  description: a count of members within the organisation - this is dummy data for now
                projects:
                  type: integer
                  description: a count of projects within the organisation - this is dummy data for now
                risk:
                  type: object
                  description: a count of risks
                  properties:
                    ok:
                      type: integer
                      description: a count of entities which have an "ok" risk status - this is dummy data for now
                    at_risk:
                      type: integer
                      description: a count of entities which have an "at risk" risk status - this is dummy data for now
                    attention:
                      type: integer
                      description: a count of entities which have an "attention" risk status - this is dummy data for now
        relationships:
          type: object
          properties:
            owners:
              type: object
              description: The id of users who are owners of the organisation
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/userRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721
    reinstatementModel:
      type: object
      properties:
        type:
          type: string
          example: reinstatements
          description: The type of resource
          enum:
            - reinstatements
        id:
          type: string
          format: uuid
          description: The reinstatement ID
          example: d15d856d-ad88-489d-a263-24fb2427395b
        attributes:
          type: object
          properties:
            status:
              type: string
              example: interim
              description: The status of the reinstatement
              enum:
                - open
                - interim
                - permanent
                - complete
            date_opened:
              type: string
              example: 2024-06-13T07:15:23Z
              description: The date the reinstatement was opened ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
            date_closed:
              type: string
              example: 2024-06-13T07:15:23Z
              description: The date the reinstatement was closed ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
            property_type:
              type: string
              example: private
              description: The type of property the resintatement is for
              enum:
                - private
                - public
            property_uprn:
              type: number
              example: 10022999531
              description: The Unique Property Reference Number
            property_psr:
              type: boolean
              example: true
              description: Whether the property is on the PSR or not
            surface_position:
              type: string
              example: footpath
              description: The surface position of the reinstatement
              enum:
                - footway
                - carriageway
                - verge
                - footpath
                - pavement
                - road
                - cycleway
                - garden
                - drive
                - field
            surface_location:
              type: string
              example: outside
              description: The surface location of the reinstatement
              enum:
                - outside
                - side_of
                - opposite
                - junction_of
                - rear_of
                - behind_gate
            surface_material:
              type: string
              example: concrete
              description: The surface material of the reinstatement
              enum:
                - 6mm_dbm
                - 6mm_dbm_red
                - 10mm_dbm
                - 10mm_sma
                - 14mm_sma
                - hra_red
                - 10mm_dbm_red
                - 10mm_sma_red
                - 14mm_sma_red
                - concrete
                - mastic
                - mastic_red
                - sandcarpet
                - specialist_surface
                - resin_footway
                - asp_slab
                - modular_paving
                - block_paving
                - tactile_paving
                - york_stone
                - granite_setts
                - topsoil_and_seed
                - turf
                - unmade
                - slabs
                - reinforced_concrete
                - hra
            opened_length:
              type: number
              example: 8.2
              description: The length of the reinstatement when opened (in meters)
            opened_width:
              type: number
              example: 2.3
              description: The width of the reinstatement when opened (in meters)
            opened_depth:
              type: number
              example: 80
              description: The depth of the reinstatement when opened (in millimeters)
            reinstated_length:
              type: number
              example: 8.2
              description: The length of the reinstatement when closed (in meters)
            reinstated_width:
              type: number
              example: 2.3
              description: The width of the reinstatement when closed (in meters)
            reinstated_depth:
              type: number
              example: 80
              description: The depth of the reinstatement when closed (in millimeters)
    propertyModel:
      type: object
      properties:
        type:
          type: string
          example: properties
          description: The type of resource
          enum:
            - properties
        id:
          type: string
          format: uuid
          description: The property ID
          example: 7e0c875a-fd47-401d-bd25-4278ed58d721
        attributes:
          type: object
          properties:
            uprn:
              type: number
              example: 10022999531
              description: The Unique Property Reference Number
            address:
              type: object
              description: The property address
              properties:
                country:
                  type: string
                  example: United Kingdom
                  description: The country of the property
                department:
                  type: string
                  example: Finance
                  description: The department of the organisation if this property is commercial
                dependent_thoroughfare:
                  type: string
                  example: Dependent Thoroughfare Name
                  description: The dependent thoroughfare of the property
                description:
                  type: string
                  example: Saltmeadows Rd, Gateshead NE8 3AH
                  description: A description of the property which is searchable via a typeahead
                name:
                  type: string
                  example: Highway House
                  description: The name of the property
                number:
                  type: string
                  example: 1A
                  description: The number of the property
                organisation:
                  type: string
                  example: Ctrl Hub Limited
                  description: The name of the organisation
                pobox:
                  type: string
                  example: PO Box 123
                  description: If the address has a POBox, it will be present here
                post_town:
                  type: string
                  example: Gateshead
                  description: The postal town of the property
                postcode:
                  type: string
                  example: NE8 3AH
                  description: The postcode of the property
                thoroughfare:
                  type: string
                  example: Saltmeadows Rd
                  description: The thoroughfare of the property
            location:
              type: object
              description: The property location in latitude and longitude
              properties:
                coordinates:
                  type: array
                  example: [-1.587305, 54.966]
                  items:
                    type: number
                    description: The coordinates of the property - these are always presented in longitude, latitude order
                type:
                  type: string
                  example: Point
                  description: The type of location
            meter:
              type: object
              description: The meter details of the property
              properties:
                mprn:
                  type: number
                  example: 1515151
                  description: The MPRN for the property
            occupants:
              type: array
              description: The known occupants of the property. Note that occupants refers to individuals, and generally are only available when the property is residential and the occupant has specific PSR needs.
              items:
                type: object
                properties:
                  first_name:
                    type: string
                    example: Mark
                    description: The first name of the occupant
                  intials:
                    type: string
                    example: ML
                    description: The intials of the occupant
                  language:
                    type: string
                    example: ENG
                    description: The language of the occupant
                  surname:
                    type: string
                    example: Lisgo
                    description: The surname of the occupant
                  title:
                    type: string
                    example: Mr
                    description: The title of the occupant
                  vulnerable_customer:
                    type: object
                    description: The vulnerable customer details of the occupant
                    properties:
                      contact:
                        type: object
                        description: Contact details for the vulnerable customer
                      priority:
                        type: number
                        example: 1
                        description: The priority of the vulnerable customer
                        enum:
                          - 1
                          - 2
                          - 3
                      disabilities:
                        type: array
                        description: The NeedsCode of the vulnerable customer. To refer to the specific need, please refer to the payload meta which contains a human readable description of the NeedsCode.
                        items:
                          type: number
                          example: 19
        meta:
          type: object
          properties:
            needs_codes:
              type: object
              description: A key value pair of of the NeedsCodes which are associated with the property with the description
              example: { "19": "Pregnancy/Families with young children < 6" }

    meta:
      type: object
      properties:
        counts:
          type: object
          properties:
            limit:
              type: integer
              example: 10
        page:
          type: object
          properties:
            limit:
              type: integer
              example: 10
            offset:
              type: object
              properties:
                current:
                  type: integer
                  example: 20
                next:
                  type: integer
                  example: 30
                previous:
                  type: integer
                  example: 10
    dayStat:
      type: object
      properties:
        type:
          type: string
          example: stats
          enum:
            - stats
          description: The resource type
        attributes:
          type: object
          properties:
            granularity:
              type: string
              example: "day"
            time:
              type: string
              example: "2024-06-28T08:50"
              description: The format of the time will change depending on the granularity. For example, `day` will output `2024-06-28` where as `year` will output `2024`. If you need more accuracy, it is in the `data.meta` field
            value:
              type: integer
              example: 245
        meta:
          type: object
          properties:
            time:
              type: object
              properties:
                since:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:50:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 50
                until:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:51:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 51
    dataCaptureFormCategory:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Health and Safety
              description: "**Sortable**. The name of the category"
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the category was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        # links:
        #   type: object
        #   properties:
        #     self:
        #       type: string
        #       example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureForm:
      type: object
      properties:
        type:
          type: string
          example: forms
          enum:
            - forms
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: My Form
              description: The name of the form
            description:
              type: string
              example: This is a form which captures lots of useful information
              description: Additional description of the form, for example, what it is used for
            status:
              type: string
              example: published
              enum:
                - published
                - draft
                - hidden
                - archived
              description: The current status of the form
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the form was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        relationships:
          type: object
          properties:
            categories:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/dataCaptureCategoryRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureCategoryRelationships:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: b60e2af5-6a84-0eb0-feaa-84384a94
          description: The ID of the form category
    manufacturerModel:
      type: object
      properties:
        type:
          type: string
          example: manufacturer
          enum:
            - manufacturer
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the manufacturer
        attributes:
          type: object
          properties:
            name:
              type: string
              example: BMW
              description: The name of the manufacturer
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers/5852cf16-8ec8-4aba-809e-f8d828772c4e
    modelModel:
      type: object
      properties:
        type:
          type: string
          example: model
          enum:
            - model
          description: The resource type
        id:
          type: string
          format: uuid
          example: f99beb4c-9add-42d0-b94d-03a22506229e
          description: The ID of the model
        attributes:
          type: object
          properties:
            name:
              type: string
              example: 1 Series
              description: The name of the model
        relationships:
          type: object
          properties:
            vehicle_manufacturer:
              type: object
              description: The id of users who are owners of the organisation
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/vehicleModelRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers/5852cf16-8ec8-4aba-809e-f8d828772c4e
    userRelationships:
      type: object
      properties:
        type:
          type: string
          example: users
          enum:
            - users
          description: The resource type
        id:
          type: string
          format: uuid
          example: c9927007-a8e3-46bc-b507-7867b114bef5
          description: The ID of the user
    vehicleModelRelationships:
      type: object
      properties:
        type:
          type: string
          example: vehicle_manufacturers
          enum:
            - vehicle_manufacturers
          description: The resource type
        id:
          type: string
          format: uuid
          example: c9927007-a8e3-46bc-b507-7867b114bef5
          description: The ID of the vehicle manufacturer
    labelModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    schemeModel:
      type: object
      properties:
        type:
          type: string
          example: schemes
          enum:
            - schemes
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the schemes
        attributes:
          type: object
          properties:
            organisation:
              type: string
              description: The primary organisation ID
              format: uuid
              example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
            name:
              type: string
              description: The name of the scheme
              example: IMGA100000
            code:
              type: string
              description: The code of the scheme
              example: CODE001
            description:
              type: string
              description: The description of the scheme
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the scheme
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the scheme
              example: 2024-08-13T00:00:00.000Z
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/schemes/5852cf16-8ec8-4aba-809e-f8d828772c4e
    workOrderModel:
      type: object
      properties:
        type:
          type: string
          example: work_orders
          enum:
            - work_orders
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the work orders
        attributes:
          type: object
          properties:
            organisation:
              type: string
              description: The primary organisation ID
              format: uuid
              example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
            name:
              type: string
              description: The name of the work orders
              example: IMGA100000
            code:
              type: string
              description: The code of the work orders
              example: CODE001
            description:
              type: string
              description: The description of the work orders
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the work orders
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the work orders
              example: 2024-08-13T00:00:00.000Z
            usrn:
              type: string
              description: The USRN (Unique Street Reference Number) related to the work order
              example: 14924880
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/work-orders/5852cf16-8ec8-4aba-809e-f8d828772c4e
    operationModel:
      type: object
      properties:
        type:
          type: string
          example: operations
          enum:
            - operations
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the operation
        attributes:
          type: object
          properties:
            organisation:
              type: string
              description: The primary organisation ID
              format: uuid
              example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
            name:
              type: string
              description: The name of the operation
              example: IMGA100000
            code:
              type: string
              description: The code of the operation
              example: CODE001
            description:
              type: string
              description: The description of the operation
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the operation
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the operation
              example: 2024-08-13T00:00:00.000Z
            uprn:
              type: string
              description: The UPRN (Unique Property Reference Number) related to the operation
              example: 10022999531
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]

        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/operations/5852cf16-8ec8-4aba-809e-f8d828772c4e
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
