openapi: 3.1.0
info:
  title: Ctrl Hub
  version: 3.0.0
servers:
  - url: https://api.ctrl-hub.com
security:
  - oAuth2ClientCredentials: []
paths:
  "/v3/admin/iam/permissions":
    get:
      security: []
      description: Returns all permissions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/permissionModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/permissions?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/permissions?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/permissions?limit=10&offset=10
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/admin/iam/permissions/{permissionId}":
    get:
      security: []
      description: Returns all permissions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/permissionModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/admin/iam/roles":
    get:
      security: []
      description: Returns all system roles
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/roleModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/roles?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/roles?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/admin/iam/roles?limit=10&offset=10
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/admin/iam/roles/{roleId}":
    get:
      security: []
      description: Returns a system role
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/roleModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs":
    get:
      description: Returns all organisations that the caller has access to
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/organisationModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Use this endpoint to create a new organisation. The owner of the organisation will be the caller who is making the API call.
      requestBody:
        $ref: "#/components/requestBodies/organisationCreate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}":
    get:
      description: Returns an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    put:
      description: Use this endpoint to update an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        $ref: "#/components/requestBodies/organisationUpdate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/admin/iam/service-accounts":
    get:
      description: Returns all service accounts for an organisation
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/serviceAccountModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts?limit=10&offset=10
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Use this endpoint to create a new service account.
      requestBody:
        $ref: "#/components/requestBodies/serviceAccountCreate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/serviceAccountModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/admin/iam/service-accounts/{accountId}":
    get:
      description: Returns a service account
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/serviceAccountModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/admin/iam/service-accounts/{accountId}/keys":
    post:
      description: Creates a new key for service account
      requestBody:
        $ref: "#/components/requestBodies/serviceAccountKeyCreate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/serviceAccountKeyCreatedModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/admin/iam/service-accounts/{accountId}/logs":
    get:
      description: Get logs for requests that have been made using the service account
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/serviceAccountLogModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts/logs?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts/logs?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/admin/iam/service-accounts/logs?limit=10&offset=10
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms":
    get:
      description: Returns all forms for an organisation that the caller has access to
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureForm"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms/stats":
    get:
      description: Return submission statistics for this form over a given time period
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/timeCreatedAtSince"
        - $ref: "#/components/parameters/timeCreatedAtUntil"
        - $ref: "#/components/parameters/timeCreatedAtGranularity"
        - $ref: "#/components/parameters/authorID"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dayStat"
                  meta:
                    type: object
                    properties:
                      headlines:
                        type: object
                        properties:
                          slices:
                            type: object
                            properties:
                              granularity:
                                type: string
                                example: day
                              count:
                                type: number
                                format: integer
                                example: 14
                          avg:
                            type: object
                            properties:
                              value:
                                type: number
                                format: double
                                example: 17.5
                          sum:
                            type: object
                            properties:
                              value:
                                type: integer
                                example: 245
  "/v3/orgs/{orgId}/data-capture/form-categories":
    get:
      description: Returns all form categories for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureFormCategory"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes":
    get:
      description: Returns all schemes
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/schemeModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/governance/schemes?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}":
    get:
      description: Returns a scheme
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/schemeModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders":
    get:
      description: Returns a schemes work orders
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/workOrderModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}":
    get:
      description: Returns a scheme
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/workOrderModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/operations":
    get:
      description: Returns a work orders operations
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/operationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/operations/{operationId}":
    get:
      description: Returns an operation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
        - $ref: "#/components/parameters/operationId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/operationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/permits":
    get:
      description: Returns a work orders permits
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/permitModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/governance/schemes/{schemeId}/work-orders/{workOrderId}/permits/{permitId}":
    get:
      description: Returns an permit
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/schemeId"
        - $ref: "#/components/parameters/workOrderId"
        - $ref: "#/components/parameters/permitId"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/permitModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/operations/reinstatements":
    get:
      description: Returns all reinstatements for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/reinstatementModel"
                  meta:
                    $ref: "#/components/schemas/meta"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Create a reinstatement for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  "$ref": "#/components/schemas/reinstatementModel"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/reinstatementModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/operations/reinstatements/{id}":
    get:
      description: Returns a specific reinstatements for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/reinstatementModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/properties/{uprn}":
    get:
      description: Find a property by UPRN
      parameters:
        - $ref: "#/components/parameters/uprn"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/propertyModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/properties":
    get:
      description: Finds properties
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/boundedBoxBottomLeft"
        - $ref: "#/components/parameters/boundedBoxTopRight"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/propertyModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/streets/{usrn}":
    get:
      description: Find a street by USRN
      parameters:
        - $ref: "#/components/parameters/usrn"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/streetModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/governance/streets":
    get:
      description: Finds streets
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/streetModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers":
    get:
      description: Returns all manufacturers
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/manufacturerModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers/{manufacturerId}":
    get:
      description: Returns a manufacturer
      parameters:
        - $ref: "#/components/parameters/manufacturerId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/manufacturerModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/manufacturers/{manufacturerId}/relationships/models":
    get:
      description: Returns all models for a specific manufacturer
      parameters:
        - $ref: "#/components/parameters/manufacturerId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/modelModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturer/5852cf16-8ec8-4aba-809e-f8d828772c4e/relationships/models?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/assets/vehicles/models":
    get:
      description: Returns all models
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/modelModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/assets/vehicles/models?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: To understand how to authenticate, see [the auth docs](https://docs.ctrl-hub.com/api-reference/auth)
      flows:
        clientCredentials:
          tokenUrl: https://auth.ctrl-hub.com/oauth2/token
          scopes: {}
  responses:
    notfound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "404"
                    message:
                      type: string
                      example: "You are trying to access a resource that does not exist."
    throttled:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "429"
                    message:
                      type: string
                      example: "You have made too many requests and have been throttled."
  parameters:
    authorID:
      name: filter[author.id]
      in: query
      description: The author of the submissions to return
      schema:
        type: string
        format: uuid
        example: f078b255-7ff4-4425-8322-8e57e4aa772d
      required: false
    boundedBoxBottomLeft:
      name: filter[location.box.bottom_left]
      in: query
      description: The bottom left corner of bounding box to filter by
      schema:
        type: string
        example: "51.5074,0.1278"
      required: false
    boundedBoxTopRight:
      name: filter[location.box.top_right]
      in: query
      description: The top right corner of bounding box to filter by
      schema:
        type: string
        example: "51.6123,0.378"
      required: false
    timeCreatedAtSince:
      name: filter[created_at.since]
      in: query
      description: The start time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-05-01T00:00:00Z"
      required: true
    timeCreatedAtUntil:
      name: filter[created_at.until]
      in: query
      description: The end time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-07-01T00:00:00Z"
      required: true
    timeCreatedAtGranularity:
      name: filter[created_at.granularity]
      in: query
      description: The granularity of the time buckets that we place the number of submissions into
      schema:
        type: string
        example: "day"
        enum:
          - year
          - month
          - day
          - hour
          - minute
      required: false
    orgId:
      name: orgId
      in: path
      description: The ID of the organisation
      schema:
        type: string
        example: cc9746e0-9286-4575-ae0b-ac1b0fe873a6
      required: true
    uprn:
      name: uprn
      in: path
      description: The UPRN of the property
      schema:
        type: number
        example: 10022999531
      required: true
    usrn:
      name: usrn
      in: path
      description: The USRN of the street
      schema:
        type: number
        example: 4601764
      required: true
    manufacturerId:
      name: manufacturerId
      in: path
      description: The ID of the manufacturer
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    schemeId:
      name: schemeId
      in: path
      description: The ID of the scheme
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    workOrderId:
      name: workOrderId
      in: path
      description: The ID of the work order
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    permitId:
      name: permitId
      in: path
      description: The ID of the permit
      schema:
        type: string
        example: bcbdf616-6dd9-4ad6-a01b-b451a0c1205a
      required: true
    operationId:
      name: operationId
      in: path
      description: The ID of the operation
      schema:
        type: string
        example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
      required: true
    limit:
      name: limit
      in: query
      description: Limit the number of resources returned by the API
      schema:
        type: integer
        default: 10
      required: false
    offset:
      name: offset
      in: query
      description: Offset for resources returned by the API
      schema:
        type: integer
        default: 0
      required: false
    sort:
      name: sort
      in: query
      description: A field in the resource to sort results with. Not all attributes are supported, please see the Object Model for **sortable** fields.
      schema:
        type: string
        default: created_at
      required: false
  requestBodies:
    serviceAccountCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: service-accounts
                    description: The type of resource
                    enum:
                      - organisations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: ACME Corp
                        description: The role name
                      description:
                        type: string
                        example: This service account is for integrating with ACME Corp
                        description: A description for the service account
                      enabled:
                        type: boolean
                        example: true
                        description: Whether the service account is enabled or not
                    required:
                      - name
                required:
                  - type
    serviceAccountKeyCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: service-account-keys
                    description: The type of resource
                    enum:
                      - service-account-keys
                required:
                  - type
    organisationCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                required:
                  - type
    organisationUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    workOrderCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: work_orders
                    description: The type of resource
                    enum:
                      - work_orders
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The work order name
                      description:
                        type: string
                        description: A description for the work order
                    required:
                      - name
                required:
                  - type
    workOrderUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: work_orders
                    description: The type of resource
                    enum:
                      - work_orders
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The work order name
                      description:
                        type: string
                        description: A description for the work order
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    schemeCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: schemes
                    description: The type of resource
                    enum:
                      - schemes
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The scheme name
                      description:
                        type: string
                        description: A description for the scheme
                    required:
                      - name
                required:
                  - type
    schemeUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: schemes
                    description: The type of resource
                    enum:
                      - schemes
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The scheme name
                      description:
                        type: string
                        description: A description for the scheme
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
    operationCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: operations
                    description: The type of resource
                    enum:
                      - operations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The operation name
                      description:
                        type: string
                        description: A description for the operation
                    required:
                      - name
                required:
                  - type
    operationUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: operations
                    description: The type of resource
                    enum:
                      - operations
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The operation name
                      description:
                        type: string
                        description: A description for the operation
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
  schemas:
    serviceAccountLogModel:
      type: object
      properties:
        type:
          type: string
          example: service-account-logs
          enum:
            - service-account-logs
        id:
          type: string
          format: uuid
          example: 14b28316-9c20-8a7d-e85a-b62f29a29ac5
        attributes:
          type: object
          properties:
            actor:
              type: object
              properties:
                type:
                  type: string
                  example: service-accounts
                  enum:
                    - service-accounts
                    - users
                id:
                  type: string
                  format: uuid
                  example: 12e3ff58-072b-0ea2-7079-f64748d5a16b
            duration:
              type: integer
              example: 10
            request:
              type: object
              properties:
                time:
                  type: string
                  format: date-time
                  example: 2024-10-16T17:12:59.953516245Z
                headers:
                  type: object
                  properties:
                    Authorization:
                      type: array
                      items:
                        type: string
                        example: redacted
                    Content-Type:
                      type: array
                      items:
                        type: string
                        example: application/json; charset=utf-8
                body:
                  type: string
                  description: The request body
                path:
                  type: string
                  example: /path/to/endpoint
                query:
                  type: object
                raw_query:
                  type: string
                  example: param1=value1&param2=value2
                method:
                  type: string
                  example: GET
                  enum:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - PATCH
                    - OPTIONS
                    - HEAD
                    - CONNECT
            response:
              type: object
              properties:
                time:
                  type: string
                  format: date-time
                  example: 2024-10-16T17:12:59.953516245Z
                body:
                  type: string
                  description: The response body
                status:
                  type: integer
                  example: 200
                headers:
                  type: object
                  properties:
                    Content-Type:
                      type: array
                      items:
                        type: string
                        example: application/json; charset=utf-8
    serviceAccountModel:
      type: object
      properties:
        type:
          type: string
          example: service-accounts
          enum:
            - service-accounts
        id:
          type: string
          format: uuid
          example: 14b28316-9c20-8a7d-e85a-b62f29a29ac5
        attributes:
          type: object
          properties:
            name:
              type: string
              example: ACME Corp
              description: The role name
            description:
              type: string
              example: This service account is for integrating with ACME Corp
              description: A description for the service account
            enabled:
              type: boolean
              example: true
              description: Whether the service account is enabled or not
            email:
              type: string
              example: acmecorp@7e0c875a-fd47-401d-bd25-4278ed58d721.iam.ctrl-hub.com
              description: A system generated email address for the service account, comprising of the service account ID and the IAM domain
        meta:
          type: object
          properties:
            created_at:
              type: string
              format: date-time
              example: 2024-10-14T17:03:06.204Z
        relationships:
          type: object
          properties:
            keys:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: service-account-keys
                        enum:
                          - service-account-keys
                      id:
                        type: string
                        format: uuid
                        example: 4c9d6aa9-f658-4e9e-8510-39d05a574018
    serviceAccountKeyModel:
      type: object
      properties:
        type:
          type: string
          example: service-accounts
          enum:
            - service-accounts
        id:
          type: string
          format: uuid
          example: 14b28316-9c20-8a7d-e85a-b62f29a29ac5
        attributes:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
              description: Whether the service account is enabled or not
    serviceAccountKeyCreatedModel:
      type: object
      properties:
        type:
          type: string
          example: service-accounts
          enum:
            - service-accounts
        id:
          type: string
          format: uuid
          example: 14b28316-9c20-8a7d-e85a-b62f29a29ac5
        attributes:
          type: object
          properties:
            client_secret:
              type: string
              example: 5-wyyBa465q6FikrEqtm07LbSc
              description: The client secret
            enabled:
              type: boolean
              example: true
              description: Whether the service account is enabled or not
    roleModel:
      type: object
      properties:
        type:
          type: string
          example: roles
          enum:
            - roles
        id:
          type: string
          example: scheme.owner
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Scheme Owner
              description: The role name
            description:
              type: string
              example: Ability to manage all aspects of schemes
              description: A description for the role
            custom:
              type: boolean
              example: false
              description: Whether the role is custom to an organisation (true) or is a standard system role (false)
            launch_stage:
              type: string
              example: beta
              description: The launch stage of the role. Alpha = initial testing, Beta = public testing, GA = general availability
              enum:
                - alpha
                - beta
                - ga
            permissions:
              type: array
              items:
                type: string
              example:
                [
                  "schemes.create",
                  "schemes.read",
                  "schemes.update",
                  "schemes.delete",
                ]
    permissionModel:
      type: object
      properties:
        type:
          type: string
          example: permissions
          enum:
            - permissions
        id:
          type: string
          example: schemes.create
        attributes:
          type: object
          properties:
            description:
              type: string
              example: Ability to create schemes
              description: A description for the permission
    organisationModel:
      type: object
      properties:
        type:
          type: string
          example: organisations
          description: The type of resource
          enum:
            - organisations
        id:
          type: string
          format: uuid
          description: The organisation ID
          example: 7e0c875a-fd47-401d-bd25-4278ed58d721
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Ctrl Hub
              description: "**Sortable**. The organisation name."
            slug:
              type: string
              example: ctrl-hub
              description: "**Sortable**. The organisation slug, which is used in requests for subresources."
            description:
              type: string
              example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
              description: A description for the organisation
            nomenclature:
              type: object
              properties:
                governance:
                  type: object
                  properties:
                    schemes:
                      type: object
                      properties:
                        "en-GB":
                          type: string
                          example: Projects
                    work-orders:
                      type: object
                      properties:
                        "en-GB":
                          type: string
                          example: Sites
                    operations:
                      type: object
                      properties:
                        "en-GB":
                          type: string
                          example: Tasks
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the organisation was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            status:
              type: string
              example: active
              enum:
                - active
                - suspended
              description: "**Sortable**. The current status of the organisation"
            counts:
              type: object
              properties:
                members:
                  type: integer
                  description: a count of members within the organisation - this is dummy data for now
                projects:
                  type: integer
                  description: a count of projects within the organisation - this is dummy data for now
                risk:
                  type: object
                  description: a count of risks
                  properties:
                    ok:
                      type: integer
                      description: a count of entities which have an "ok" risk status - this is dummy data for now
                    at_risk:
                      type: integer
                      description: a count of entities which have an "at risk" risk status - this is dummy data for now
                    attention:
                      type: integer
                      description: a count of entities which have an "attention" risk status - this is dummy data for now
        relationships:
          type: object
          properties:
            owners:
              type: object
              description: The id of users who are owners of the organisation
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/userRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721
    reinstatementModel:
      type: object
      properties:
        type:
          type: string
          example: reinstatements
          description: The type of resource
          enum:
            - reinstatements
        id:
          type: string
          format: uuid
          description: The reinstatement ID
          example: d15d856d-ad88-489d-a263-24fb2427395b
        attributes:
          type: object
          properties:
            status:
              type: string
              example: interim
              description: The status of the reinstatement
              enum:
                - open
                - interim
                - permanent
                - complete
            date_opened:
              type: string
              example: 2024-06-13T07:15:23Z
              description: The date the reinstatement was opened ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
            date_closed:
              type: string
              example: 2024-06-13T07:15:23Z
              description: The date the reinstatement was closed ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
            type:
              type: string
              example: private
              description: The type of property the resintatement is for
              enum:
                - private
                - public
            usrn:
              type: number
              example: 28317107
              description: The Unique Street Reference Number
            uprn:
              type: number
              example: 10022999531
              description: The Unique Property Reference Number
            property_psr:
              type: boolean
              example: true
              description: Whether the property is on the PSR or not
            surface_position:
              type: string
              example: footpath
              description: The surface position of the reinstatement
              enum:
                - footway
                - carriageway
                - verge
                - footpath
                - pavement
                - road
                - cycleway
                - garden
                - drive
                - field
            surface_location:
              type: string
              example: outside
              description: The surface location of the reinstatement
              enum:
                - outside
                - side_of
                - opposite
                - junction_of
                - rear_of
                - behind_gate
            surface_material:
              type: string
              example: concrete
              description: The surface material of the reinstatement
              enum:
                - 6mm_dbm
                - 6mm_dbm_red
                - 10mm_dbm
                - 10mm_sma
                - 14mm_sma
                - hra_red
                - 10mm_dbm_red
                - 10mm_sma_red
                - 14mm_sma_red
                - concrete
                - mastic
                - mastic_red
                - sandcarpet
                - specialist_surface
                - resin_footway
                - asp_slab
                - modular_paving
                - block_paving
                - tactile_paving
                - york_stone
                - granite_setts
                - topsoil_and_seed
                - turf
                - unmade
                - slabs
                - reinforced_concrete
                - hra
            opened_length:
              type: number
              example: 8.2
              description: The length of the reinstatement when opened (in meters)
            opened_width:
              type: number
              example: 2.3
              description: The width of the reinstatement when opened (in meters)
            opened_depth:
              type: number
              example: 80
              description: The depth of the reinstatement when opened (in millimeters)
            reinstated_length:
              type: number
              example: 8.2
              description: The length of the reinstatement when closed (in meters)
            reinstated_width:
              type: number
              example: 2.3
              description: The width of the reinstatement when closed (in meters)
            reinstated_depth:
              type: number
              example: 80
              description: The depth of the reinstatement when closed (in millimeters)
    propertyModel:
      type: object
      properties:
        type:
          type: string
          example: properties
          description: The type of resource
          enum:
            - properties
        id:
          type: string
          format: uuid
          description: The property ID
          example: 7e0c875a-fd47-401d-bd25-4278ed58d721
        attributes:
          type: object
          properties:
            uprn:
              type: number
              example: 10022999531
              description: The Unique Property Reference Number
            address:
              type: object
              description: The property address
              properties:
                country:
                  type: string
                  example: United Kingdom
                  description: The country of the property
                department:
                  type: string
                  example: Finance
                  description: The department of the organisation if this property is commercial
                dependent_thoroughfare:
                  type: string
                  example: Dependent Thoroughfare Name
                  description: The dependent thoroughfare of the property
                description:
                  type: string
                  example: Saltmeadows Rd, Gateshead NE8 3AH
                  description: A description of the property which is searchable via a typeahead
                name:
                  type: string
                  example: Highway House
                  description: The name of the property
                number:
                  type: string
                  example: 1A
                  description: The number of the property
                organisation:
                  type: string
                  example: Ctrl Hub Limited
                  description: The name of the organisation
                pobox:
                  type: string
                  example: PO Box 123
                  description: If the address has a POBox, it will be present here
                post_town:
                  type: string
                  example: Gateshead
                  description: The postal town of the property
                postcode:
                  type: string
                  example: NE8 3AH
                  description: The postcode of the property
                thoroughfare:
                  type: string
                  example: Saltmeadows Rd
                  description: The thoroughfare of the property
            location:
              type: object
              description: The property location in latitude and longitude
              properties:
                coordinates:
                  type: array
                  example: [-1.587305, 54.966]
                  items:
                    type: number
                    description: The coordinates of the property - these are always presented in longitude, latitude order
                type:
                  type: string
                  example: Point
                  description: The type of location
            mprn:
              type: number
              example: 1515151
              description: The MPRN at the property
            mpan:
              type: number
              example: 5151515
              description: The MPAN at the property
            psr:
              type: object
              description: The PSR details of the property
              properties:
                indicator:
                  type: boolean
                  example: true
                  description: Whether the property is on the PSR or not
                contact:
                  type: string
                  description: The contact details of the PSR customer
                  example: A Person (07970 111 222)
                priority:
                  type: number
                  example: 1
                  description: The priority of the vulnerable customer. This is `0` when there is no priority.
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                notes:
                  type: string
                  example: 14Pensioner
                  description: Any notes about the vulnerable customer which will potentially include the Needs Codes
    streetModel:
      type: object
      properties:
        type:
          type: string
          example: streets
          description: The type of resource
          enum:
            - streets
        id:
          type: string
          format: uuid
          description: The street ID
          example: ec2176a1-2c1b-42fb-a81a-edbe10b7b19f
        attributes:
          type: object
          properties:
            usrn:
              type: number
              example: 4601764
              description: The Unique Street Reference Number
            location:
              type: object
              description: The street location in latitude and longitude
              properties:
                coordinates:
                  type: array
                  items:
                    type: array
                    example:
                      [
                        [640921.4380000001, 310210.6919999998, 0],
                        [641634.2631999999, 309910.6437999997, 0],
                      ]
                    items:
                      type: array
                      items:
                        type: number
                        description: The coordinates of the street
                type:
                  type: string
                  example: MultiLineString
                  description: The type of location
    meta:
      type: object
      properties:
        counts:
          type: object
          properties:
            limit:
              type: integer
              example: 10
        page:
          type: object
          properties:
            limit:
              type: integer
              example: 10
            offset:
              type: object
              properties:
                current:
                  type: integer
                  example: 20
                next:
                  type: integer
                  example: 30
                previous:
                  type: integer
                  example: 10
    dayStat:
      type: object
      properties:
        type:
          type: string
          example: stats
          enum:
            - stats
          description: The resource type
        attributes:
          type: object
          properties:
            granularity:
              type: string
              example: "day"
            time:
              type: string
              example: "2024-06-28T08:50"
              description: The format of the time will change depending on the granularity. For example, `day` will output `2024-06-28` where as `year` will output `2024`. If you need more accuracy, it is in the `data.meta` field
            value:
              type: integer
              example: 245
        meta:
          type: object
          properties:
            time:
              type: object
              properties:
                since:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:50:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 50
                until:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:51:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 51
    dataCaptureFormCategory:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Health and Safety
              description: "**Sortable**. The name of the category"
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the category was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        # links:
        #   type: object
        #   properties:
        #     self:
        #       type: string
        #       example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureForm:
      type: object
      properties:
        type:
          type: string
          example: forms
          enum:
            - forms
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: My Form
              description: The name of the form
            description:
              type: string
              example: This is a form which captures lots of useful information
              description: Additional description of the form, for example, what it is used for
            status:
              type: string
              example: published
              enum:
                - published
                - draft
                - hidden
                - archived
              description: The current status of the form
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the form was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        relationships:
          type: object
          properties:
            categories:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/dataCaptureCategoryRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureCategoryRelationships:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: b60e2af5-6a84-0eb0-feaa-84384a94
          description: The ID of the form category
    manufacturerModel:
      type: object
      properties:
        type:
          type: string
          example: manufacturer
          enum:
            - manufacturer
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the manufacturer
        attributes:
          type: object
          properties:
            name:
              type: string
              example: BMW
              description: The name of the manufacturer
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers/5852cf16-8ec8-4aba-809e-f8d828772c4e
    modelModel:
      type: object
      properties:
        type:
          type: string
          example: model
          enum:
            - model
          description: The resource type
        id:
          type: string
          format: uuid
          example: f99beb4c-9add-42d0-b94d-03a22506229e
          description: The ID of the model
        attributes:
          type: object
          properties:
            name:
              type: string
              example: 1 Series
              description: The name of the model
        relationships:
          type: object
          properties:
            vehicle_manufacturer:
              type: object
              description: The id of users who are owners of the organisation
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/vehicleModelRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/assets/vehicles/manufacturers/5852cf16-8ec8-4aba-809e-f8d828772c4e
    userRelationships:
      type: object
      properties:
        type:
          type: string
          example: users
          enum:
            - users
          description: The resource type
        id:
          type: string
          format: uuid
          example: c9927007-a8e3-46bc-b507-7867b114bef5
          description: The ID of the user
    vehicleModelRelationships:
      type: object
      properties:
        type:
          type: string
          example: vehicle_manufacturers
          enum:
            - vehicle_manufacturers
          description: The resource type
        id:
          type: string
          format: uuid
          example: c9927007-a8e3-46bc-b507-7867b114bef5
          description: The ID of the vehicle manufacturer
    labelModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    schemeModel:
      type: object
      properties:
        type:
          type: string
          example: schemes
          enum:
            - schemes
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the schemes
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the scheme
              example: IMGA100000
            code:
              type: string
              description: The code of the scheme
              example: CODE001
            description:
              type: string
              description: The description of the scheme
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the scheme
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the scheme
              example: 2024-08-13T00:00:00.000Z
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the scheme was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/schemes/5852cf16-8ec8-4aba-809e-f8d828772c4e
    workOrderModel:
      type: object
      properties:
        type:
          type: string
          example: work-orders
          enum:
            - work-orders
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the work orders
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the work orders
              example: IMGA100000
            code:
              type: string
              description: The code of the work orders
              example: CODE001
            description:
              type: string
              description: The description of the work orders
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the work orders
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the work orders
              example: 2024-08-13T00:00:00.000Z
            uprns:
              type: array
              items:
                type: number
              description: An array of UPRN's (Unique Property Reference Number) related to the work order
              example: [10022999531]
            usrns:
              type: array
              items:
                type: number
              description: An array of USRN's (Unique Street Reference Number) related to the work order
              example: [14924880]
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the work order was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/schemes/5852cf16-8ec8-4aba-809e-f8d828772c4e/work-orders/5852cf16-8ec8-4aba-809e-f8d828772c4e
    operationModel:
      type: object
      properties:
        type:
          type: string
          example: operations
          enum:
            - operations
          description: The resource type
        id:
          type: string
          format: uuid
          example: 5852cf16-8ec8-4aba-809e-f8d828772c4e
          description: The ID of the operation
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the operation
              example: IMGA100000
            code:
              type: string
              description: The code of the operation
              example: CODE001
            description:
              type: string
              description: The description of the operation
              example: DESC-123456
            status:
              type: string
              description: The status of the scheme
              example: active
              enum:
                - In Planning
                - Live
                - On Hold
                - Complete
                - Cancelled
            start_date:
              type: string
              description: The start date of the operation
              example: 2024-06-13T00:00:00.000Z
            end_date:
              type: string
              description: The end date of the operation
              example: 2024-08-13T00:00:00.000Z
            uprns:
              type: array
              items:
                type: number
              description: An array of UPRN's (Unique Property Reference Number) related to the work order
              example: [10022999531]
            usrns:
              type: array
              items:
                type: number
              description: An array of USRN's (Unique Street Reference Number) related to the work order
              example: [14924880]
            labels:
              type: array
              items:
                "$ref": "#/components/schemas/labelModel"
              description: An array of label objects related to the scheme
              example:
                [
                  { key: "your-label", value: "abc123" },
                  { key: "another-label", value: "meaningful-value" },
                ]
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the operation was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/schemes/5852cf16-8ec8-4aba-809e-f8d828772c4e/work-orders/5852cf16-8ec8-4aba-809e-f8d828772c4e/operations/5852cf16-8ec8-4aba-809e-f8d828772c4e
    permitModel:
      type: object
      properties:
        type:
          type: string
          example: permits
          enum:
            - permits
          description: The resource type
        id:
          type: string
          format: uuid
          example: bcbdf616-6dd9-4ad6-a01b-b451a0c1205a
          description: The ID of the permit
        attributes:
          type: object
          properties:
            reference:
              type: string
              description: The reference of the permit
              example: REF001
            description:
              type: string
              description: The description of the permit
              example: DESC-123456
            proposed_start_date:
              type: string
              description: The proposed start date of the permit
              example: 2024-06-13T00:00:00.000Z
            proposed_end_date:
              type: string
              description: The proposed end date of the permit
              example: 2024-08-13T00:00:00.000Z
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the permit was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            updated_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the permit was updated ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            status:
              type: string
              enum:
                - submitted
                - proposed
                - refused
                - granted
                - in_progress
                - cancelled
                - closed
              example: granted
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/governance/schemes/5852cf16-8ec8-4aba-809e-f8d828772c4e/work-orders/5852cf16-8ec8-4aba-809e-f8d828772c4e/permits/5852cf16-8ec8-4aba-809e-f8d828772c4e
    dataCaptureFormSubmissionVersionModel:
      type: object
      properties:
        type:
          type: string
          example: submission-versions
          enum:
            - submission-versions
          description: The resource type
        id:
          type: string
          format: uuid
          example: 7813209e-db7b-4d3d-82a9-73c3c1b10090
          description: The ID of the version
        attributes:
          type: object
          properties:
            status:
              type: string
              description: The status of the version
              example: complete
            content: 
              type: object
              description: The content of the version
              example: {
                field: "value"
              }
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the version was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
        relationships:
          type: object
          properties:
            form_version:
              type: object
              description: The id of the form version this submission version relates to
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/dataCaptureFormVersionRelationship"
            author:
              type: object
              description: The id of the user this version relates to
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/userRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/submissions/eb2b4aa7-048d-470b-b504-a3eb3bf45e29/relationships/versions/7813209e-db7b-4d3d-82a9-73c3c1b10090
    dataCaptureFormSubmissionModel:
      type: object
      properties:
        type:
          type: string
          example: submissions
          enum:
            - submissions
          description: The resource type
        id:
          type: string
          format: uuid
          example: eb2b4aa7-048d-470b-b504-a3eb3bf45e29
          description: The ID of the form submission
        attributes:
          type: object
          properties:
            reference:
              type: string
              description: The reference of the form submission
              example: 1234A567BCD
            status:
              type: string
              description: The status of the form submission - this is always the latest status based on the submission versions
              example: complete
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the form submission was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            updated_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the form submission was updated ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
        relationships:
          type: object
          properties:
            form:
              type: object
              description: The id of form this submission relates to
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/dataCaptureFormRelationship"
            form_version:
              type: object
              description: The id of the form version this submission version relates to
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/dataCaptureFormVersionRelationship"
            author:
              type: object
              description: The id of user this submission relates to
              properties:
                data:
                  type: object
                  $ref: "#/components/schemas/userRelationships"
            versions:
              type: object
              description: The id's of versions this submission relates to
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/dataCaptureSubmissionVersionRelationship"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/submissions/eb2b4aa7-048d-470b-b504-a3eb3bf45e29
    dataCaptureFormRelationship:
      type: object
      properties:
        type:
          type: string
          example: forms
          enum:
            - forms
          description: The resource type
        id:
          type: string
          format: uuid
          example: feabf5d3-91b4-42ad-b145-8bee6c115b78
          description: The ID of the form
    dataCaptureFormVersionRelationship:
      type: object
      properties:
        type:
          type: string
          example: form-versions
          enum:
            - form-versions
          description: The resource type
        id:
          type: string
          format: uuid
          example: 03c37271-70bb-4f03-955d-b4fcbe252a15
          description: The ID of the form version
    dataCaptureSubmissionVersionRelationship:
      type: object
      properties:
        type:
          type: string
          example: submission-versions
          enum:
            - submission-versions
          description: The resource type
        id:
          type: string
          format: uuid
          example: f7bd5f57-8b79-40c5-bb80-acf82b068da0
          description: The ID of the submission version
